/.*
/bf-decrypt
/bf-encrypt
/tests/cbc_tests
/tests/cfb_tests
/tests/context_tests
/tests/ecb_tests
/tests/ofb_tests

CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
DartConfiguration.tcl
Makefile
Testing/
build.ninja
cmake-build-*/
cmake_install.cmake

**/*.a
**/*.o
**/*.rock
**/*.so
